@using (Html.BeginForm("SubmitButtons", "Home", FormMethod.Post))
{
	<input type="text" name="product" /><br />
	<button name="action" value="add">Добавить</button>
	<button name="action" value="delete">Удалить</button>
}